/* .hide-cursor {
  display: none;
} */

.cursor {
  pointer-events: none;
  position: fixed;
  border-radius: calc(infinity * 1px);
  width: 10px;
  height: 10px;
  background-color: white;

  top: 0;
  left: 0;
}
